.texpadtmp
*.md
*.log
*.aux
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.blg
*.bbl
*.lof
*.lot
*.gz
*.backup
*.bak
*.backup
*.tmp
*.swp
*.swo
*.dvi
*.ps
main.pdf
*.synctex.gz
*.synctex